<form action="/payment/results">

  <div>
  <label for="monkey">APR</label>
  <input id="monkey" name="apr" type="text" placeholder="E.g. 5.42">
  </div>

  <div>
  <label for="ape">Number of years</label>
  <input id="ape" name="years" type="text" placeholder="How many years to repayment?">
  </div>

  <div>
  <label for="chimp">Principal</label>
  <input id="chimp" name="principal" type="text" placeholder="How much principal?">
	</div>

  <button>Calculate monthly payment</button>

</form>
