<form action="/square_root/results">

  <label for="dog">Enter a number</label>

  <input id="dog" name="number" type="text" placeholder="What number do you want to enter?">
	
  <button>Calculate square root</button>

</form>
