<form action="/square/result">

  <label for="zebra">Enter a number</label>

  <input id="zebra" name="number" type="text" placeholder="What number do you want to enter?">
	
  <button>Calculate square</button>

</form>
